#!jinja2

{% set BROADCAST = False %}
{% set NTIMES = 6 %}
{% set NUMENS = 3 %}
{% set NPROCX = 2 %}
{% set NPROCY = 2 %}
{% set MODEL_DIR_INPUT = '/home/users/lucy' %}
{% set MODEL_DIR = '/group_workspaces/jasmin4/ncas_cms/glister/esdm/jasmin_centos_7.7_gcc_9.1.0_esdm' %}
{% set XIOS_DIR = '/home/users/jcole/software/xios_trunk_r1870/config_GCC_LINUX_ESDM_dev' %}
{% set NPROC = NPROCX*NPROCY %}
{% set XIOS_NPROC = 4 %}
{% set TOT_NPROC = NUMENS*NPROC + XIOS_NPROC %}

[meta]
  title = test suite
  description = first suite
# This is what my suite does:...
[scheduling]
  [[dependencies]]
      graph = """
broadcast-test => esdm-conf & input-data & xios-test-in & xios-xml => run-xios-test
	"""
[runtime]
  [[root]]
    init-script = init-script.sh
    post-script = copy-files.sh
  [[broadcast-test]]
  {% if not BROADCAST %}
        script = """
          cylc broadcast -n 'batch' -F "${CYLC_SUITE_DEF_PATH}/broadcast-batch-original.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'esdm-conf' -F "${CYLC_SUITE_DEF_PATH}/broadcast-esdm-original.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'input-data' -F "${CYLC_SUITE_DEF_PATH}/broadcast-input-original.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'xios-test-in' -F "${CYLC_SUITE_DEF_PATH}/broadcast-test-original.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'xios-xml' -F "${CYLC_SUITE_DEF_PATH}/broadcast-xml-original.rc" "${CYLC_SUITE_NAME}"
	       """
  {% else %}
        script = """
          cylc broadcast -n 'batch' -F "${CYLC_SUITE_DEF_PATH}/broadcast-batch.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'esdm-conf' -F "${CYLC_SUITE_DEF_PATH}/broadcast-esdm.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'input-data' -F "${CYLC_SUITE_DEF_PATH}/broadcast-input.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'xios-test-in' -F "${CYLC_SUITE_DEF_PATH}/broadcast-test.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'xios-xml' -F "${CYLC_SUITE_DEF_PATH}/broadcast-xml.rc" "${CYLC_SUITE_NAME}"
          cylc broadcast -n 'run-xios-test' -s "[environment]INPUT_DATA_NML=data-input" "${CYLC_SUITE_NAME}"
	"""
  {% endif %}
  [[batch]]
    [[[job]]]
        batch system = luciana
        execution time limit = PT10M
    [[[directives]]]
        --ntasks=123
        --partition=test
  [[esdm-conf]]
   script = ${SCRIPT_NAME}
    [[[environment]]]
      SCRIPT_NAME = create-esdm-conf.sh
  [[input-data]]
    script = ${SCRIPT_NAME}
    [[[environment]]]
      SCRIPT_NAME = create-input-data.sh
  [[xios-test-in]]
    script = ${SCRIPT_NAME}
    [[[environment]]]
      SCRIPT_NAME = create-xios-test-in.sh
      INPUT_DATA_NML = 'input_data_ens'
      NPROCX = {{NPROCX}}
      NPROCY = {{NPROCY}}
      NTIMES = {{NTIMES}}
      NUMENS = {{NUMENS}}
  [[xios-xml]]
    script = ${SCRIPT_NAME}
    [[[environment]]]
      SCRIPT_NAME = create-xios-xml.sh
  [[run-xios-test]]
    inherit = batch
    script = ${SCRIPT_NAME}
    [[[environment]]]
      SCRIPT_NAME = run-xios-test-env.sh
      XIOS_EXEC = {{XIOS_DIR}}/bin/xios_server.exe
      MODEL_EXEC = {{MODEL_DIR}}/xios_test
      INPUT_DATA_NML = 'input_data_ens'
      INPUT_DATA_NC = {{MODEL_DIR_INPUT}}/file.nc
      MODEL_DIR_INPUT = {{MODEL_DIR_INPUT}}
      MODEL_DIR = {{MODEL_DIR}}
      XIOS_DIR = {{XIOS_DIR}}
      NTIMES = {{NTIMES}}
      NUMENS = {{NUMENS}}
      NPROCX = {{NPROCX}}
      NPROCY = {{NPROCY}}
      NPROC = {{NPROC}}
      XIOS_NPROC = {{XIOS_NPROC}}
      TOT_NPROC = {{TOT_NPROC}}
      LAUNCH_MPI_MODEL = "-np {{NPROC}}"
      LAUNCH_MPI_XIOS = "-np {{XIOS_NPROC}}"
[visualization]
    [[node attributes]]
        esdm-conf = "color=red"
        input-data = "color=blue"
        xios-test-in = "color=seagreen3"
        xios-xml = "color=orange"
