[meta]
  title = Next Cycle
  description = Change the suite's next cycle based on the size of a specific file (b.txt, created in task model) 
[scheduling]
  initial cycle point = 2021
  final cycle point = 2030
  [[dependencies]]
    [[[R1]]]  # Initial cycle point.
      graph = model => broadcast-test => broadcast-action
    [[[R//P1Y]]]  # Yearly cycling.
      graph = model[-P1Y] & broadcast-action[-P1Y] => model => broadcast-test => broadcast-action
    [[[R1/P0Y]]]  # Final cycle point.
      graph = broadcast-action => stop

[runtime]
  [[model]]
   pre-script = create-share-dir.sh
   script = ${SCRIPT_NAME_MODEL};
    [[[environment]]]
      SCRIPT_NAME_MODEL = script-model.sh
      VAR_A = a
      VAR_DIR = $CYLC_TASK_WORK_DIR 
	# Definition for the first cycle; not required in general. 
	# It can be defined directly in the broadcast task.
  [[broadcast-test]]
    script = test-size-next.sh
  [[broadcast-action]]
    script = ${SCRIPT_NAME};
    [[[environment]]]
      SCRIPT_NAME = true
  [[stop]]
    script = true
[visualization]
  initial cycle point = 2021
  final cycle point = 2023
    [[node attributes]]
        model = "color=blue"
        broadcast-test = "color=green3"
        broadcast-action = "color=red"
	stop = "color=orange" # Appears only if the final cycle point matches.

