[scheduling]
    [[dependencies]]
        graph = "t1 => batch"
[runtime]
    [[t1]]
        script = """
cylc broadcast -n 'batch' -F "${CYLC_SUITE_DEF_PATH}/broadcast.rc" "${CYLC_SUITE_NAME}"
"""
    [[batch]]
	script = "echo Hello World!"	
	[[[job]]]
		batch system = luciana
		execution time limit = PT10M
	[[[directives]]]
		--ntasks = 2
		--partition = par-multi
