[cylc]
    UTC mode = True
[scheduling]
    initial cycle point = 20100101T03
    [[dependencies]]
        [[[R1]]] 
		graph = "t1 => t2"
[runtime]
    [[t1]]
        script = """
cylc broadcast -n 't2' -F - "${CYLC_SUITE_NAME}" \
    <"${CYLC_SUITE_DEF_PATH}/broadcast.cylc"
"""
    [[t2]]
        script = false
